body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #fefefe !important;
}

/* ========================header============================= */

element {
  --main-bg-color: #fcba00;
}
.main-header {
  height: 100px;
  display: flex;
  color: white;
  padding: 0px 5px 0px 40px;
}
@media (max-width: 575px) {
  .main-header {
    height: 80px;
    background-color: #151515;
  }
}
@media (min-width: 575px) {
  .main-header {
    background-color: #363435;
  }
}

.phone {
  display: flex;
  align-items: center;
}
@media (max-width: 575px) {
  .phone {
    font-weight: 900;
    font-size: 1.2em;
  }
}

.time {
  display: flex;
  align-items: center;
}
@media (max-width: 575px) {
  .time {
    display: none;
  }
}

.location {
  display: flex;
  align-items: center;
}
@media (max-width: 575px) {
  .location {
    display: none;
  }
}

.icone {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
}
@media (max-width: 575px) {
  .icone {
    display: none;
  }
}

.icone_phone {
  mask-image: url(./images/icones/phone-alt-solid.svg);
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.icone_time {
  mask-image: url(./images/icones/time.svg);
  background-color: white;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-left: 10px;
}

.icone_location {
  mask-image: url(./images/icones/map-marker-alt-solid.svg);
  background-color: white;
  width: 23px;
  margin-right: 10px;
  margin-left: 10px;
}

.icone_inst {
  mask-image: url(./images/icones/inst.svg);
  background-color: white;
  margin-right: 20px;
}
.icone_inst:hover {
  background-color: #fcba00;
}

.icone_vk {
  mask-image: url(./images/icones/vk-brands.svg);
  background-color: white;
}
.icone_vk:hover {
  background-color: #fcba00;
}

.links {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media (max-width: 575px) {
  .links {
    display: none;
  }
}

.logo {
  height: 180px;
  width: 100%;
  background-repeat: no-repeat;
}
@media (max-width: 575px) {
  .logo {
    background: linear-gradient(182deg, #151515 15%, #313131 80%);
  }
  .logo__background {
    width: 100%;
    height: 100%;
    background-image: url(./images/fathers-mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (min-width: 575px) {
  .logo {
    background-image: url(./images/fathers.jpg);
    background-size: contain;
    background-position: center;
    background-color: #363435;
  }
}

/* ===============================Main========================================= */

.top-section {
  width: 100%;
  height: calc(100vh - 280px);
  background-image: url(./images/karate-1343889_1920.jpg),
    linear-gradient(rgba(0, 0, 0, 0), #313131);
  background-blend-mode: multiply;
  background-size: cover;
  padding-top: 10px;
  color: #fefefe;
  padding-left: 40px;
  background-size: cover;
}
@media (max-width: 575px) {
  .top-section {
    padding-top: 80px;
    height: calc(100vh - 260px);
  }
}
h1 {
  margin: 0px;
}
.club {
  font-weight: 800;
  font-size: 2.5em;
}
@media (max-width: 1200px) {
  .top-section__extra-info {
    display: none;
  }
  .top-section {
    padding-top: 10%;
  }
}

@media (max-width: 576px) {
  .top-section__extra-info-list {
    display: none;
  }
}

/* ===============================Main__faq========================================= */

.faq {
  background-color: #313131;
  padding: 0px 40px 0px 40px;
  height: 100vh;
}

.faq__content {
  background-color: #fcba00;
  height: 100%;
  width: 100%;
  padding: 20px 0px 0px 15px;
}

/* ===============================footer========================================= */

.footer {
  height: 15vh;
  width: 100%;
  background-color: gray;
}

/* ===============================MainNavButtons========================================= */

.MainNavButtons {
  display: flex;
  flex-direction: column;
  background-color: #363435;
  height: 300px;
  padding: 15px 0px;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .MainNavButtons {
    flex-direction: row;
  }
}

.btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  width: 240px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: linear-gradient(30deg, yellow, #fcba00);
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  box-shadow: inset 1px 1px 10px -1px;
}

/* ===============================MainTimeTable========================================= */

.MainTimeTable {
  background-color: grey;
  padding: 20px 55px;
}
.time-table {
  background-image: url("./images/OKy-b6lF06I.jpg");
  background-size: 100% 100%;
  width: 500;
  height: 500px;
  max-width: 800px;
  max-height: 800px;
  margin: 0 auto;
}
.time-table-title {
  text-align: center;
  color: #fcba00;
}
@media (max-width: 768px) {
  .time-table {
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 576px) {
  .time-table {
    width: 150px;
    height: 100px;
    margin: 0 auto;
  }
}

/* ===============================Trainer========================================= */

.treners__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.t-img {
  width: 320px;
  height: 360px;
}
.trenerDescription {
  color: black;
}

.trainersTitle {
  height: 80px;
  background: linear-gradient(30deg, yellow, #fcba00);;
  text-align: center;
  padding-top: 20px;
}

/* ===============================InfoWrapper========================================= */

.infoWrapper {
  width: 100%;
  padding: 40px 55px;
}

/* ===============================left-menue========================================= */

.MuiTypography-body1 {
  color: black;
}

.icone-menu {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  mask-image: url(./images/icones/iconfinder_menu-alt_134216.svg);
  background-color: #fefefe;
}
.menue-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
